<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud Movil API</title>
    <!-- <link href="{{ url_for('static', path='../static/styles.css') }}" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
</head>
<body>
    <header class="position-absolute top-0 start-50 translate-middle-x">
        <div class="d-flex flex-row mb-3 bg-primary p-2 text-white bg-opacity-75">
            <div class="p-2 h1">Salud</div>
            <div class="p-2 h1">Móvil API</div>
        </div>
    </header>
</body>
</html>